.row:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.row { display: inline-block; }
/* start commented backslash hack \*/
* html .row { height: 1%; }
.row { display: block; }
/* close commented backslash hack */

body {
  background-image: url(images/0.jpeg);
}
img {
  max-width: 100%;
}
a {
  font-size:
}
.header {
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 5px;
}
.sidebar {
  float: left;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 5px;
  width: 19%;
  min-height: 300px;
}
.content {
  float: left;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 5px;
  width: 80%;
  height: 800px;
}
.footer {
  height: 30px;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 5px;
}
